/* General Layout */

.holdings-container {
    font-family: 'Arial, sans-serif';
    max-width: 1350px;
    margin: auto;
    overflow: hidden;
    width: 100%;
  }
  
  .holdings-header {
    text-align: center;
    margin: 20px 0;
  }
  
  /* Asset Class Heading */

  .asset-class-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #fff;
  }
  
  .asset-class-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    /* background: #f2f2f2; */
    border-radius: 5px;
  }
  
  /* Table Styling */
  
  .holdings-table {
    width: 100%;
    border-collapse: collapse;
    
    
  }
  
  .holdings-table th, .holdings-table td {
    padding: 12px 20px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .holdings-table thead tr {
    /* background: #e0e0e0; */
  }
  
  .holdings-table tbody tr:nth-child(odd) {
    background: #f9f9f9;
    font-size: 14px;
  }
  
  .holdings-table tbody tr:nth-child(even) {
    background: #ffffff;
    /* text-overflow: ellipsis; */
    font-size: 14px;
  }

  .arrow {
    cursor: pointer;
    color: black;  
  }
  
  /* .arrow:hover {
    color: #2b19cf;  
  } */
  
  .asset-class {
  margin-bottom: 20px;
}

/* .asset-class-name:hover, .arrow:hover {
  color: blue;
} */

.arrow.up {
  color: #3a3df0; /* Blue color when arrow is upward */
}

/* .arrow:hover.up {
  color: blue; 
} */

  
  